body {
    background: #ddd;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player {
    width: 28px;
    height: 32px;
    transform: scale(2);
  
    background-image: url('../img/sprite.png');
  }
  
  .player--right {
    background-position-y: -64px;
  }
  
  .player--up {
    background-position-y: -96px;
  }
  
  .player--left {
    background-position-y: -32px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .targetCell {
    background-color: green;
  }
  