*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

html {
    font-size: 62.5%;
    color: RGB(51, 51, 51);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.form-wrapper {
    width: 100%;
    height: 100%;
}

.banner {
    position:absolute;
    left: -30rem;
    color: #fff;
    width: 30rem;
    z-index: 100;
    /* transition pour l'apparition du formulaire au click*/
    transition: left 0.8s; 
}
/*apparition du formulaire au click*/
.container.change .banner{
    left: 8rem;
}

.banner p{
    font-size: 3rem;
}

.banner i{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.footer {
    position:absolute;
    left: -30rem;
    color: #fff;
    width: 30rem;
    z-index: 100;
    bottom: 10%;
    /* transition pour l'apparition du formulaire au click*/
    transition: left 0.8s; 
}
/*apparition du formulaire au click*/
.container.change .footer{
    left: 10rem;
}

.green-bg{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4062ac, #3a60b1, #0d2861);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    /* transition pour l'apparition du formulaire au click*/
    transition: width 1.5s cubic-bezier(0.19,1,0.22,1);
}



/* apparition du cv au click*/
.container.change .green-bg{
    width: 25%;
}
.container.change .green-bg h1{
    width: 1rem;
    left: 8rem;
}

.green-bg h1 {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 50px;
    width: 45rem;
    height: 5rem;
    letter-spacing: 0.1rem;
    color: #fff;

}

.green-bg button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-65%);
    width: 17rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    cursor: pointer;

}

.cv-on {
    width: 60rem;
    height: 75%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* transition pour l'apparition du formulaire au click*/
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1.5rem;

}

/*apparition du cv au click*/
.container.change .cv-on{
    left: 70rem;
}

a{
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
}

.skills{
    font-size: 1.6rem;
    letter-spacing: .2rem;
}

.skills h2{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: #0d2861 solid 2px;

}

ul{
    padding: 1rem;
}

li{
    padding: 0.5rem;

}

.technique-title {
    font-weight: bold;
}

.social-media{
    display: flex;

}

.social-media i {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;

}

button{
    background-color: #fff;
    border: 0 solid #adcdf8;
    border-radius: 0.6rem;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 1.6rem;
    text-align: center;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(53, 105, 216, 0.719);
    margin: 1rem;

}

button:hover {
    background-color: #264f92;
    color: #fff;
}

.formation {
    display: none;
   
}

.formation--on {
    display: block;
}

.xp {
    display: none;
}

.xp--on {
    display: block;
}

/* tableau */
table {
    margin: 15px;
    border-collapse : separate;
    border-spacing : 10px;
}

th {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0;
}

td {
    font-size: 1.5rem;
}


.games{
    display: block;
}

.games a{
    border: none;
    box-shadow: 5px 5px 5px 0px rgba(37,77,181,0.47);

}


